{
  "presets": [
    "@babel/preset-react",
    [ "@babel/preset-env", {"targets": { "node": "current" }} ]
  ],
  "env": {
    "development": {},
    "production": {
      "plugins": [
        "@babel/plugin-transform-react-inline-elements",
        "@babel/plugin-transform-react-constant-elements"
      ]
    }
  }
}
