{
  "extends": "bragi",
  "rules": {
    "import/no-extraneous-dependencies": "off"
  },
  "overrides": [
    {
      "files": ["**/__tests__/*.spec.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
