#container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  .quadrado {
    width: 100px;
    height: 100px;
    color: white;
    margin: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quadrado1 {
    flex-grow: 1;
    align-self: flex-start;
    background-color: purple;
    order: 4;
  }
  .quadrado2 {
    flex-grow: 2;
    align-self: flex-end;
    background-color: rgb(173, 18, 173);
    order: 3;
  }
  .quadrado3 {
    flex-grow: 3;
    align-self: center;
    background-color: rgb(205, 16, 205);
    order: 2;
  }
  .quadrado4 {
    flex-grow: 4;
    align-self: baseline;
    background-color: rgb(254, 31, 254);
    order: 1;
  }
}
