#container {
  background-color: aqua;
  display: flex;
  justify-content: center;
  .quadrado {
    width: 100px;
    height: 100px;
    background-color: purple;
    color: white;
    margin: 5px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
