// Base
@import '~@andes/form/base';
@import '~@andes/textfield/base';
@import '~@andes/form/base';
@import '~@andes/dropdown/base';
@import '~@andes/amount-field/base';
@import '~@andes/button/base';
@import '~@andes/modal/base';

@import '~@andes/dropdown/lib/styles/multiple';
@import '~@andes/amount-field/lib/styles/size/large';
@import '~@andes/button/lib/styles/modifier/loud';
@import '~@andes/radio-list/index';
@import '~@andes/modal/lib/styles/large/index';

#forms {
  display: flex;
  justify-content: center;

  .btnSendProduct {
    display: flex;
    justify-content: center;
    margin: 30px;  
  }

  .checkbox {
    p {
      font-size: 18px;
    }
  }

  .registeredProduct {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    outline: 2px solid black;
    padding: 5px;
    border-radius: 8px;
  }

  img {
    width: 120px;
  }
}